.footer {
  background-color: #122033;
  padding-top: 50px;
  padding-bottom: 25px;
}

.footer p {
  color: #fff;
  font-size: 14px;
}

.footer h5 {
  color: #0d6efd;
}

.subscribeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
}

.copyright {
  padding-top: 25px;
  border-top: 1px solid #1a2e4a;
}
